.footer {
  padding-top: 2rem;
}

.footer_text {
  width: 75%;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.bottom {
  background-color: #ededed;
  height: 400px;
  width: 100%;
}

.bottom_text {
  width: 75%;
  margin: 0 auto;
  padding-top: 3rem;
}

.smallText {
  font-size: 13px;
  color: #a3a3a3;
}
