.top {
  display: flex;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
}

.logo {
  height: 3rem;
  background-color: #ffffff;
  line-height: 3.5rem;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px;
}
.logo:hover {
  cursor: pointer;
}

.search-box {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}

input[type="text"] {
  border: none;
  padding: 14px;
  margin-right: 10px;
  width: 250px;
  background-color: rgb(235, 235, 235);
}

.searchBtn {
  background-color: #929292;
  color: white;
  border: none;
  padding: 14px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.whiteSquare {
  background-color: white;
  width: 30%;
}

.menu {
  background-color: #ffffff;
  height: 3.5rem;
}

.menu-item {
  display: inline-block;
  color: rgb(59, 59, 59);
  font-size: 1rem;
  font-style: bold;
  line-height: 3.5rem;
  width: 16.666%;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}

.menu-item:hover {
  background-color: rgb(228, 228, 228);
}

.menu-item:active,
.menu-item.active {
  background-color: rgb(230, 172, 184);
}

.loginBtn {
  width: 80px;
  height: 40px;
  margin-top: 10px;
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: bolder;
  cursor: pointer;
}

.signInBtn {
  width: 80px;
  height: 40px;
  margin-top: 10px;
  border: none;
  /* background-color: rgb(255, 169, 188); */
  background-color: transparent;
  color: #e6003d;
  font-size: 16px;
  font-weight: bolder;
  cursor: pointer;
}
